
/* .header_hero {
    background-image: url('../images/1-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.large_h {
    font-size: 4vw;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
}

.fade-in {
    opacity: 1;
    /* Set opacity to 1 by default */
    transform: translateX(-100%);
    transition: transform 2s ease;
}

.visible {
    transform: translateX(0);
    /* Move element to its original position */
}

.card.slide-in {
    transform: translateY(0);
    /* Slide the card into view */
}

.about-img {
    background-image: url('../images/ajira-digital.jpg');
    background-size: cover;
    background-position: top;
}

#map {
    height: 500px;
}

.head {
    height: 90vh;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}