{% extends '../dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div id="content" class="can_have_sidenav">
    <div class="row p-3">
        <div class="col col-lg-8 p-3 border roundend">
            <h5 class="small fw-lighter"># Add Incedence</h5>
            <form method="POST">
                <h3>Record Incedence</h3>
                <hr>
                {% csrf_token %}
                <div class="form-group mb-4">
                    {{ form|crispy }}
                </div>
                <button type="submit" class="btn btn-danger">Record Incident</button>
            </form>
        </div>

        <div class="col">
            <div class="card mb-3">
                <h5 class="card-header">Manage</h5>
                <div class="card-body gap-5">
                    <a class="btn btn-block btn-warning mb-3" href="{% url 'incidents'%}">All</a>
                    <a class="btn btn-block btn-primary mb-3" href="{% url 'add_incident'%}">Record</a>
                    <a class="btn btn-block btn-info mb-3" href="{% url 'incidents'%}">Recent</a>
                </div>
            </div>

            <div class="card mb-3">
                <h5 class="card-header">Recent</h5>
                {% if recent_users %}
                <div class="p-3">
                    {% for incident in recent_incidents %}

                    <p>
                        <strong>{{incident.incident_type}}</strong>: {{incident.time_of_incident}} <a href="">details.</a>
                    </p>
                    {% endfor %}
                </div>
                {% else %}
                <div class="card-body">
                    <p class="fw-lighter">
                        Recently added incidents will appear here!
                    </p>
                </div>
                {% endif %}
            </div>

            <div class="card">
                <h5 class="card-header">Chart</h5>
                <div class="card-body">
                    <div class="card-text fw-lighter">Charts Will Appear Here!</div>
                    <div id="traffic-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}